<div class="container">
  <div class="panel">
    <div class="content">
      <header><h1>Dialog Component</h1></header>
      <main>
        <label for="select">Select an Example</label><br>
        <select [(ngModel)]="selectedOption" (change)="showDialogBox=true;" id="select">
          <option value="" disabled selected>Options</option>
          <option [ngValue]="{ title: 'Simple Text Title', template: template1 }">Lorem Ipsum text</option>
          <option [ngValue]="{ title: 'Form Title Example', template: template2 }">Form</option>
          <option [ngValue]="{ title: 'Terms and Conditions Title', template: template3 }">Agree to terms and conditions</option>
        </select>
        
        <!-- HJL: Calling our reusable dialog component with dynamic title and 
                  dynamic content template based on selected option-->
        <dialog-nrd-app [title]="selectedOption.title" [show]="showDialogBox" (onClose)="closeDialog()">
          <ng-container [ngSwitch]="selectedOption.template">
            <ng-container *ngSwitchCase='template1' [ngTemplateOutlet]="template1"></ng-container>
            <ng-container *ngSwitchCase='template2' [ngTemplateOutlet]="template2"></ng-container>
            <ng-container *ngSwitchCase='template3' [ngTemplateOutlet]="template3"></ng-container>
          </ng-container>
        </dialog-nrd-app>

        <!--'Simple Text' Template -->
        <ng-template #template1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing <strong>elit</strong>, sed do eiusmod tempor incididunt ut <i>labore</i> et <i>dolore</i> magna <strong>aliqua.</strong> </p>
        </ng-template>
        
        <!-- 'Form' Template -->
        <ng-template #template2>
          <form (submit)="submitForm()">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="last-name">Last Name:</label><br>
            <input type="text" id="last-name" name="last-name"><br><br>
            <button type="submit">Submit</button>
          </form>
        </ng-template>

        <!-- 'Terms and conditions' Template -->
        <ng-template #template3>
          <div>
            <input type="checkbox" id="terms" name="terms">
            <label for="terms">I have read and agreed to the terms and conditions of this example</label>
            <br><br>
            <button (click)="closeDialog()">Close</button>
          </div>
        </ng-template>

      </main>
    </div>
  </div>
</div>